/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  margin: 0 auto;
  background: #fdfdff;
  color: #3c3d3d;
  font-size: 14px;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"MS Ｐゴシック","MS PGothic";
}

section, footer {
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  position: relative;
}

section.form {
  text-align: left;
}

footer {
  background: #40bd4c;
  min-height: 100px;
}

footer aside {
  position: absolute;
  left: 100px;
  /* half size of image */
  top: -32px;
}

footer aside img {
  margin-left: -50%;
}

ul {
  list-style: none;
}

h1 {
  color: #191919;
  font-family:"ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  font-size: 26px;
  font-weight: lighter;
  margin: 0;
}

article h1 {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"MS Ｐゴシック","MS PGothic";
  font-weight: bold;
  font-size: 16px;
}

aside h1 {
  font-size: 20px;
}

h1 a {
  color: #191919;
  text-decoration: none;
}

h1 a:visited {
  color: #191919;
  text-decoration: none;
}

h1 a:hover {
  color: #191919;
  text-decoration: none;
}

aside h1 {
  margin-top: 40px;
  margin-bottom: 4px;
}

h1 small {
  font-size: 12px;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"MS Ｐゴシック","MS PGothic";
}

p {
  color: #646464;
}

a:hover {
  color: #44d372;
}

tr {
  border: 1px solid black;
}

td {
  text-align: left;
}

small {
  color: #787878;
}

table {
  border-collapse: collapse;
  border-spacing: 2px;
}

td, th {
  border: 1px solid #9d9d9d;
  padding: 4px 10px;
}

table.no-th td:first-child, th {
  font-weight: bold;
  color: #3d3d3d;
}

label {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"MS Ｐゴシック","MS PGothic";
  font-weight: bold;
}

input[type=text], input[type=radio], textarea {
  margin-bottom: 20px;
}

input[type=submit] {
  margin-top: 20px;
}

ul.circle {
  list-style: circle;
}

.form-push {
  margin-left: 60px;
}

.form-push p {
  font-size: 18px;
}

.td-big {
  padding-right: 40px;
  padding-left: 40px;
}

.align-right {
  text-align: right;
}

#header {
  min-height: 600px;
  height: auto;
  position: relative;
}

#header-background {
  background: transparent url('../img/staff.jpg') no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -200;
}

#links {
  background: #40bd4c;
  position: relative;
  padding: 0;
}

#links li {
  line-height: 100px;
  display: inline-block;
}

#links img {
  vertical-align: middle;
}

#links header {
  margin: 0;
  padding: 0;
  background: #fdfdff;
  border-bottom: 1px solid #3aad49;
}

#links header h1 {
  text-align: center;
  padding: 10px 20px;
  color: #75727a;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"MS Ｐゴシック","MS PGothic";
  font-size: 16px;
  line-height: 30px;
}

#banner {
  position: absolute;
  bottom: 100%;
  right: 10px;
  margin-bottom: 20px;
  z-index: 1000;
}

#link-arrow {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fdfdff;
  border-width: 16px;
  right: 70px;
  margin-left: -16px;
}

#info {
}

#lecture {
}

.overlay {
  position: absolute;
  background: #000;
  opacity: 0.6;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
}

.dot {
  position: absolute;
  background: transparent url('../img/dot_white.png');
  background-repeat: repeat repeat;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.button {
  padding: 8px 12px;
  color: #2a6b31;
  font-weight: bold;
  background: #5dec6b;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.org {
  font-size: 16px;
  color: #696969;
  font-size: bold;
  text-decoration: none;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
}

#contest-date {
  font-size: 30px;
  margin-top: 100px;
  color: #efefef;
}

#oldie-outdated, #jsnotice {
  background: #ea6d6d;
  color: #482122;
  border-bottom: 3px solid #7e3c3e;
}

#jsnotice {
  display: none;
}

.no-js #jsnotice {
  display: block;
}

.light-blue {
  background: #fafafb;
  border-top: 1px solid #e9eaed;
  border-bottom: 1px solid #e9eaed;
}

.inner {
  padding: 20px;
}

.inner4 {
  padding: 20px 40px;
}

#plug {
  margin: 0 auto;
  max-width: 480px;
  margin-top: 60px;
}

#plug h1 {
  font-size: 20px;
  color: #e6e6e6;
}

#plug p {
  font-style: italic;
  font-size: 16px;
  color: #cbcbcb;
}

.content {
  padding: 20px;
}

.faint {
  color: #555;
}

.title-background {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  display: block;
  padding-top: 40px;
}

.center {
  margin: 0 auto;
}

.middle-content {
  margin: 20px auto;
  max-width: 460px;
  padding: 0 auto;
}

@media handheld, only screen and (max-width: 767px) {

  #header {
    min-height: 500px;
  }

  #contest-date {
    font-size: 18px;
    margin-top: 20px;
  }

  #plug {
    font-size: 14px;
  }

  #links {
    padding: 0;
  }

  #links li {
    line-height: 60px;
    display: block;
    margin: 20px auto;
    padding: 0;
  }
}
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
